## <span style="color:green"> Project </span>

### <span style="color:cyan">Step: 00</span>: (Import Libraries) !

In [19]:
# import Dataset !
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### <span style="color:cyan">Step: 01</span>: (Import Dataset)

In [20]:
df = pd.read_csv('company.csv')
df.head(2)

,Company_Name,Coding,Year,ESG Score,Return on Equity,Return on Asset,Earning Per Share,Price/Sales Per Share Ratio,Earning before Interest & Taxes,DIVIDEND YIELD
0,HOME DEPOT,1,2008,65.85,12.74,6.24,1.34,0.54,4.214,3.54
1,HOME DEPOT,1,2009,53.06,14.32,7.56,1.57,0.74,4.658,4.11

### <span style="color:cyan">Step: 02</span>: Data Cleaned or Organize

In [21]:
df.isnull().sum()

Company_Name                       0
Coding                             0
Year                               0
ESG Score                          0
Return on Equity                   0
Return on Asset                    0
Earning Per Share                  0
Price/Sales Per Share Ratio        0
Earning before Interest & Taxes    0
DIVIDEND YIELD                     0
dtype: int64

In [22]:
df.shape

(1300, 10)

In [26]:
df['Company_Name'].unique()

array([51, 96, 40, 97, 18, 16,  1, 89, 94, 24,  8, 59, 67, 61, 92, 93, 65,
       22, 79, 13, 46, 19, 87, 43,  0, 48, 60, 74, 85, 90, 30, 34, 53, 83,
       11, 41, 68, 27, 31,  3, 32, 69, 14, 33, 35, 38, 45, 26, 37, 80,  7,
       66, 76, 88,  2, 10, 47, 81, 86, 23, 39, 56, 57, 64, 99, 12, 20, 55,
       70, 78, 82, 84, 98,  6,  9, 21, 25, 58, 71, 73,  4, 17, 28, 44, 50,
       52, 62, 77, 91, 95,  5, 15, 29, 36, 42, 49, 54, 63, 72, 75])

In [24]:
df.head()

,Company_Name,Coding,Year,ESG Score,Return on Equity,Return on Asset,Earning Per Share,Price/Sales Per Share Ratio,Earning before Interest & Taxes,DIVIDEND YIELD
0,HOME DEPOT,1,2008,65.85,12.74,6.24,1.340,0.54,4.214,3.54
1,HOME DEPOT,1,2009,53.06,14.32,7.56,1.570,0.74,4.658,4.11
2,HOME DEPOT,1,2010,59.78,17.44,9.10,2.010,0.85,5.803,3.18
3,HOME DEPOT,1,2011,60.45,21.11,10.61,2.470,0.94,6.674,2.63
4,HOME DEPOT,1,2012,68.09,25.42,12.13,3.001,1.25,7.853,2.67

In [25]:
# Encoding catagorical Variables !
# Label Encoder !

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df.Company_Name = le.fit_transform(df.Company_Name)
df.head()

,Company_Name,Coding,Year,ESG Score,Return on Equity,Return on Asset,Earning Per Share,Price/Sales Per Share Ratio,Earning before Interest & Taxes,DIVIDEND YIELD
0,51,1,2008,65.85,12.74,6.24,1.340,0.54,4.214,3.54
1,51,1,2009,53.06,14.32,7.56,1.570,0.74,4.658,4.11
2,51,1,2010,59.78,17.44,9.10,2.010,0.85,5.803,3.18
3,51,1,2011,60.45,21.11,10.61,2.470,0.94,6.674,2.63
4,51,1,2012,68.09,25.42,12.13,3.001,1.25,7.853,2.67

### <span style="color:cyan">Step: 03</span>: Splitting Dataset into (Training and Testing) Data

In [9]:
# from sklearn.model_selection import train_test_split

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

### <span style="color:cyan">Step: 04</span>: Fit K-Nearest_Neighbor Model

In [10]:
# from sklearn.neighbors import KNeighborsClassifier

# model = KNeighborsClassifier(n_neighbors=5).fit(X_train, y_train)
# model

### <span style="color:cyan">Step: 05</span>: Evaluate or Test Model Accuracy

In [11]:
# predicted_values = model.predict(X_test)
# predicted_values

# from sklearn.metrics import accuracy_score

# score = accuracy_score(y_test, predicted_values)*100
# print("K-NN. (r2.score):", score)

### <span style="color:cyan">Step: 06</span>: Prediction of Un-known values

***

***

***