### <span style="color:orange">Step: 00</span>: (Import Libraries)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### <span style="color:orange">Step: 01</span>: (Import Dataset)

In [2]:
df = pd.read_csv('company.csv')
df.head(1)

,Company_Name,Coding,Year,ESG Score,Return on Equity,Return on Asset,Earning Per Share,Price/Sales Per Share Ratio,Earning before Interest & Taxes,DIVIDEND_YIELD
0,HOME DEPOT,1,2008,65.85,12.74,6.24,1.34,0.54,4.214,3.54

### <span style="color:orange">Step: 02</span>: Data Cleaning

In [3]:
df.isnull().sum()

Company_Name                       0
Coding                             0
Year                               0
ESG Score                          0
Return on Equity                   0
Return on Asset                    0
Earning Per Share                  0
Price/Sales Per Share Ratio        0
Earning before Interest & Taxes    0
DIVIDEND_YIELD                     0
dtype: int64

In [4]:
# import encodeing library !
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Company_Name'] = le.fit_transform(df['Company_Name'])

In [5]:
df[['Company_Name']].head()

   Company_Name
0            51
1            51
2            51
3            51
4            51

In [6]:
# transformation !
from sklearn.preprocessing import MinMaxScaler

feature = [i for i in df.columns if i not in ['ESG Score', 'Year']]
# feature = X.columns
scaling = MinMaxScaler()
df[feature] = scaling.fit_transform(df[feature])

In [7]:
X = df
y = df[['ESG Score']]

In [8]:
X.head(2)

,Company_Name,Coding,Year,ESG Score,Return on Equity,Return on Asset,Earning Per Share,Price/Sales Per Share Ratio,Earning before Interest & Taxes,DIVIDEND_YIELD
0,0.515152,0.0,2008,65.85,0.008042,0.600927,0.613446,0.038168,0.248056,0.200113
1,0.515152,0.0,2009,53.06,0.008153,0.620041,0.617318,0.053435,0.251298,0.232335

In [9]:
y.head(2)

   ESG Score
0      65.85
1      53.06

### <span style="color:orange">Step: 03</span>: Splitting Dataset into (Training and Testing) Data

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

### <span style="color:orange">Step: 04</span>: Apply Techniques !

### <span style="color:blue">(KNN).K-Nearest_Neighbor</span>

In [11]:
from sklearn.neighbors import KNeighborsRegressor

knn = KNeighborsRegressor()
knn.fit(X_train, y_train)

KNeighborsRegressor()

---

In [12]:
predicted_values = knn.predict(X_test)
predicted_values

array([[63.494],
       [53.42 ],
       [68.67 ],
       [69.744],
       [55.316],
       [65.426],
       [43.282],
       [86.724],
       [69.434],
       [38.164],
       [55.332],
       [72.104],
       [48.458],
       [59.962],
       [46.636],
       [41.618],
       [77.052],
       [68.05 ],
       [59.284],
       [83.532],
       [58.128],
       [67.664],
       [58.186],
       [77.1  ],
       [69.322],
       [58.014],
       [69.534],
       [50.942],
       [84.426],
       [47.788],
       [54.124],
       [57.602],
       [68.864],
       [48.918],
       [63.122],
       [62.478],
       [64.232],
       [65.652],
       [56.776],
       [58.408],
       [57.93 ],
       [42.24 ],
       [60.496],
       [36.366],
       [69.162],
       [64.082],
       [62.864],
       [42.754],
       [75.02 ],
       [44.564],
       [44.738],
       [28.   ],
       [51.304],
       [78.954],
       [71.866],
       [46.928],
       [46.894],
       [75.812],
       [67.576],
       [39.676],
       [32.148],
       [55.292],
       [60.972],
       [56.096],
       [39.738],
       [71.646],
       [44.27 ],
       [30.484],
       [50.942],
       [17.768],
       [85.506],
       [46.422],
       [77.504],
       [61.928],
       [40.36 ],
       [67.498],
       [39.314],
       [58.332],
       [58.676],
       [68.344],
       [57.206],
       [73.664],
       [71.58 ],
       [74.264],
       [69.434],
       [61.114],
       [33.892],
       [44.812],
       [48.794],
       [71.1  ],
       [29.49 ],
       [49.736],
       [66.974],
       [58.602],
       [48.972],
       [55.986],
       [68.222],
       [27.134],
       [65.564],
       [71.528],
       [57.4  ],
       [69.162],
       [62.896],
       [52.82 ],
       [67.362],
       [15.718],
       [70.81 ],
       [52.126],
       [80.948],
       [48.732],
       [38.678],
       [67.108],
       [57.088],
       [47.646],
       [46.588],
       [50.418],
       [43.02 ],
       [54.004],
       [76.428],
       [45.094],
       [68.046],
       [38.684],
       [66.022],
       [26.772],
       [67.764],
       [53.502],
       [76.308],
       [31.086],
       [37.888],
       [68.478],
       [55.874],
       [73.95 ],
       [41.932],
       [66.02 ],
       [67.892],
       [48.438],
       [37.688],
       [74.876],
       [47.408],
       [54.548],
       [28.684],
       [42.08 ],
       [66.454],
       [50.272],
       [32.058],
       [44.612],
       [46.924],
       [70.336],
       [59.71 ],
       [53.642],
       [30.18 ],
       [67.434],
       [33.086],
       [28.29 ],
       [39.218],
       [32.786],
       [70.644],
       [67.826],
       [52.838],
       [49.614],
       [80.03 ],
       [34.232],
       [84.472],
       [50.958],
       [44.236],
       [21.728],
       [30.342],
       [46.238],
       [49.096],
       [57.176],
       [57.428],
       [45.024],
       [80.78 ],
       [27.406],
       [42.288],
       [44.812],
       [63.382],
       [50.048],
       [31.81 ],
       [21.16 ],
       [69.78 ],
       [46.498],
       [67.578],
       [41.118],
       [52.002],
       [40.736],
       [22.53 ],
       [51.916],
       [44.37 ],
       [66.306],
       [13.804],
       [40.318],
       [45.402],
       [61.47 ],
       [45.676],
       [44.526],
       [42.754],
       [73.95 ],
       [51.746],
       [43.316],
       [64.722],
       [38.63 ],
       [62.134],
       [67.012],
       [47.576],
       [56.754],
       [42.234],
       [35.926],
       [49.052],
       [57.17 ],
       [61.34 ],
       [45.076],
       [53.158],
       [58.94 ],
       [61.088],
       [60.496],
       [39.892],
       [44.236],
       [38.62 ],
       [79.826],
       [45.7  ],
       [65.298],
       [63.32 ],
       [80.948],
       [72.322],
       [26.398],
       [61.28 ],
       [39.902],
       [40.322],
       [51.   ],
       [37.888],
       [31.24 ],
       [53.762],
       [44.384],
       [44.27 ],
       [69.064],
       [55.924],
       [25.   ],
       [53.338],
       [30.584],
       [31.556],
       [58.344],
       [22.746],
       [75.578],
       [58.01 ],
       [65.318],
       [47.842],
       [71.174],
       [53.186],
       [41.384],
       [41.482],
       [76.536],
       [71.528],
       [66.976],
       [21.8  ],
       [70.404],
       [36.016],
       [32.446],
       [41.734],
       [38.6  ]])

In [13]:
# find mae
from sklearn.metrics import mean_absolute_error

knn_mae = mean_absolute_error(y_test, predicted_values)
knn_mae

0.23853846153846114

In [14]:
# find rmse
from sklearn.metrics import mean_squared_error
from math import sqrt

knn_rmse = sqrt(mean_squared_error(y_test, predicted_values))
knn_rmse

0.3348823444366463

---

---

### <span style="color:blue">Polynomial Regression</span>

In [15]:
from sklearn.linear_model import LinearRegression

reg_line = LinearRegression()
reg_line.fit(X_train, y_train)

LinearRegression()

---

In [16]:
predicted_values = reg_line.predict(X_test)
predicted_values

array([[63.08],
       [53.47],
       [68.53],
       [70.11],
       [55.22],
       [65.16],
       [43.23],
       [87.89],
       [69.49],
       [38.06],
       [55.27],
       [72.37],
       [48.47],
       [59.8 ],
       [46.72],
       [41.65],
       [76.41],
       [67.95],
       [59.2 ],
       [83.19],
       [58.48],
       [67.62],
       [58.04],
       [77.09],
       [69.09],
       [58.02],
       [69.31],
       [50.67],
       [83.58],
       [47.87],
       [53.94],
       [57.09],
       [68.43],
       [48.84],
       [63.01],
       [62.13],
       [64.06],
       [65.36],
       [56.71],
       [58.52],
       [57.84],
       [42.07],
       [60.6 ],
       [35.89],
       [69.01],
       [63.94],
       [63.36],
       [42.91],
       [74.43],
       [44.67],
       [44.89],
       [28.07],
       [51.43],
       [79.36],
       [71.8 ],
       [46.64],
       [46.63],
       [75.52],
       [67.44],
       [39.85],
       [31.92],
       [55.73],
       [60.44],
       [56.19],
       [39.57],
       [71.8 ],
       [43.93],
       [30.18],
       [50.6 ],
       [18.07],
       [85.83],
       [46.32],
       [77.44],
       [62.01],
       [40.19],
       [67.36],
       [39.54],
       [58.04],
       [58.98],
       [68.09],
       [57.09],
       [73.26],
       [71.59],
       [74.05],
       [69.23],
       [61.57],
       [33.49],
       [44.69],
       [48.62],
       [70.95],
       [30.08],
       [49.61],
       [66.93],
       [58.87],
       [48.91],
       [56.26],
       [68.34],
       [26.45],
       [65.58],
       [72.3 ],
       [57.13],
       [69.43],
       [62.89],
       [53.06],
       [67.11],
       [16.38],
       [71.13],
       [52.01],
       [80.85],
       [48.4 ],
       [38.99],
       [66.87],
       [56.65],
       [47.75],
       [46.5 ],
       [50.56],
       [42.44],
       [53.99],
       [77.04],
       [45.31],
       [67.7 ],
       [39.1 ],
       [65.54],
       [26.72],
       [67.62],
       [53.87],
       [76.42],
       [30.9 ],
       [37.81],
       [68.53],
       [56.38],
       [74.27],
       [41.74],
       [66.34],
       [67.66],
       [48.63],
       [37.67],
       [74.63],
       [47.45],
       [54.62],
       [28.34],
       [41.98],
       [66.39],
       [50.34],
       [32.32],
       [44.3 ],
       [46.56],
       [70.06],
       [59.99],
       [53.53],
       [29.82],
       [67.36],
       [33.47],
       [28.41],
       [39.34],
       [33.04],
       [70.61],
       [67.86],
       [52.74],
       [49.57],
       [80.13],
       [33.5 ],
       [84.38],
       [50.85],
       [44.19],
       [19.86],
       [29.9 ],
       [46.18],
       [49.21],
       [57.14],
       [57.55],
       [45.  ],
       [80.7 ],
       [26.74],
       [41.97],
       [44.83],
       [62.88],
       [50.11],
       [32.15],
       [20.86],
       [69.58],
       [46.23],
       [67.56],
       [41.39],
       [51.95],
       [40.7 ],
       [22.63],
       [52.  ],
       [44.7 ],
       [66.54],
       [11.62],
       [40.12],
       [45.47],
       [61.35],
       [46.02],
       [44.26],
       [42.83],
       [74.1 ],
       [51.56],
       [43.28],
       [64.68],
       [38.5 ],
       [62.32],
       [66.78],
       [47.53],
       [56.43],
       [42.48],
       [35.87],
       [48.98],
       [56.95],
       [61.59],
       [45.21],
       [53.01],
       [59.38],
       [61.44],
       [60.68],
       [40.12],
       [44.35],
       [38.79],
       [79.39],
       [45.97],
       [64.93],
       [63.26],
       [80.74],
       [72.37],
       [25.84],
       [60.88],
       [40.21],
       [40.  ],
       [51.5 ],
       [37.76],
       [31.48],
       [53.79],
       [44.28],
       [44.1 ],
       [69.08],
       [56.27],
       [24.63],
       [53.52],
       [30.22],
       [31.65],
       [57.93],
       [22.19],
       [75.97],
       [58.06],
       [65.46],
       [47.89],
       [71.44],
       [52.94],
       [41.46],
       [41.04],
       [76.24],
       [71.73],
       [66.71],
       [21.84],
       [70.88],
       [35.93],
       [32.48],
       [41.33],
       [38.91]])

In [17]:
# find mae
from sklearn.metrics import mean_absolute_error

reg_mae = mean_absolute_error(y_test, predicted_values)
reg_mae

2.4800674334703496e-15

In [18]:
# find rmse
from sklearn.metrics import mean_squared_error
from math import sqrt

reg_rmse = sqrt(mean_squared_error(y_test, predicted_values))
reg_rmse

4.17610993224481e-15

---

---

### <span style="color:blue">Decision Tree</span>

In [19]:
from sklearn.tree import DecisionTreeRegressor 

dtree = DecisionTreeRegressor()
dtree.fit(X_train, y_train)

DecisionTreeRegressor()

---

In [20]:
predicted_values = dtree.predict(X_test)
predicted_values

array([63.08, 53.58, 68.43, 70.08, 55.18, 65.19, 43.31, 87.72, 69.51,
       38.09, 55.32, 72.53, 48.52, 59.7 , 46.69, 41.67, 76.32, 68.05,
       59.02, 83.09, 58.47, 67.68, 58.02, 77.11, 69.11, 58.02, 69.27,
       50.73, 83.6 , 47.84, 53.92, 57.05, 68.43, 48.89, 63.12, 62.14,
       64.13, 65.33, 56.73, 58.5 , 57.84, 42.1 , 60.64, 35.63, 69.11,
       63.91, 63.4 , 43.04, 74.43, 44.74, 44.8 , 27.5 , 51.47, 79.38,
       71.78, 46.69, 46.74, 75.56, 67.68, 39.58, 31.85, 55.91, 60.48,
       56.16, 39.63, 71.78, 43.92, 30.29, 50.48, 10.6 , 85.67, 46.45,
       77.44, 62.09, 40.27, 67.68, 39.63, 58.02, 58.97, 68.08, 57.05,
       73.18, 71.56, 74.09, 69.27, 61.49, 33.12, 44.67, 48.57, 71.05,
       30.66, 49.54, 66.74, 58.85, 48.8 , 56.  , 68.4 , 26.49, 65.54,
       72.2 , 57.05, 69.39, 62.9 , 53.05, 67.16, 10.6 , 71.1 , 51.85,
       80.75, 48.52, 38.82, 66.94, 56.67, 47.73, 46.26, 50.48, 42.28,
       54.  , 77.04, 45.29, 67.68, 39.05, 65.54, 25.89, 67.42, 53.88,
       76.32, 30.7 , 37.7 , 68.54, 56.38, 74.36, 41.75, 66.47, 67.42,
       48.59, 37.86, 74.59, 47.43, 54.5 , 27.5 , 41.98, 66.47, 50.36,
       32.37, 44.17, 46.26, 70.09, 59.98, 53.58, 29.66, 67.53, 33.12,
       28.76, 39.27, 33.09, 70.6 , 67.63, 52.74, 49.56, 80.25, 33.24,
       84.19, 50.85, 44.17, 19.88, 29.66, 46.11, 49.25, 57.05, 57.45,
       45.05, 80.75, 25.67, 41.97, 44.8 , 62.76, 50.11, 32.18, 20.6 ,
       69.73, 46.45, 67.53, 41.41, 51.85, 40.56, 22.99, 51.99, 44.68,
       66.94, 14.17, 40.18, 45.44, 61.33, 46.  , 44.17, 42.84, 74.36,
       51.61, 43.24, 64.64, 38.52, 62.22, 66.94, 47.56, 56.41, 42.55,
       35.63, 48.96, 57.02, 61.49, 45.15, 53.04, 59.4 , 61.6 , 60.68,
       40.18, 44.55, 38.88, 79.32, 46.01, 64.9 , 63.3 , 80.72, 72.53,
       26.49, 60.93, 40.14, 40.2 , 51.47, 37.86, 31.02, 53.88, 44.18,
       43.92, 69.11, 55.97, 24.  , 53.58, 30.56, 31.26, 57.96, 22.25,
       75.92, 58.02, 65.54, 47.8 , 71.36, 52.93, 41.45, 40.99, 76.32,
       71.76, 66.52, 22.02, 70.86, 35.63, 32.52, 41.34, 39.01])

In [21]:
# find mae
from sklearn.metrics import mean_absolute_error

dtree_mae = mean_absolute_error(y_test, predicted_values)
dtree_mae

0.16319230769230783

In [22]:
# find rmse
from sklearn.metrics import mean_squared_error
from math import sqrt

dtree_rmse = sqrt(mean_squared_error(y_test, predicted_values))
dtree_rmse

0.6310470542007028

---

---

### <span style="color:blue">Random Forest</span>

In [23]:
from sklearn.ensemble import RandomForestRegressor

rforest = RandomForestRegressor()
rforest.fit(X_train, y_train)

C:\Users\fahad\AppData\Local\Temp/ipykernel_3792/4138979454.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rforest.fit(X_train, y_train)

RandomForestRegressor()

---

In [24]:
predicted_values = rforest.predict(X_test)
predicted_values

array([63.0898, 53.6185, 68.5027, 70.1148, 55.1513, 65.1841, 43.2151,
       87.7515, 69.469 , 38.053 , 55.3356, 72.4976, 48.515 , 59.7888,
       46.7193, 41.6722, 76.3064, 68.0785, 59.2923, 83.2177, 58.4663,
       67.6272, 57.9804, 77.0583, 69.1217, 58.012 , 69.263 , 50.7315,
       83.7196, 47.8295, 53.9091, 57.0613, 68.4347, 48.8779, 63.0551,
       62.1574, 64.0641, 65.3391, 56.7003, 58.506 , 57.8469, 42.0674,
       60.633 , 35.6563, 69.0714, 63.904 , 63.3542, 42.9101, 74.4201,
       44.6616, 44.8845, 27.9721, 51.447 , 79.3774, 71.7763, 46.6922,
       46.687 , 75.5242, 67.4418, 39.5958, 31.9682, 55.7202, 60.4815,
       56.0457, 39.5558, 71.7871, 43.96  , 30.3906, 50.4945, 15.9683,
       85.4998, 46.3732, 77.4632, 62.0838, 40.2074, 67.3479, 39.5415,
       58.0007, 58.9593, 68.0941, 57.0689, 73.2114, 71.5843, 73.9728,
       69.2131, 61.603 , 33.2564, 44.6679, 48.5859, 70.963 , 30.1109,
       49.5329, 66.9033, 58.8488, 48.8657, 56.2483, 68.3897, 26.3531,
       65.5665, 72.1513, 57.0791, 69.4309, 62.8345, 53.083 , 67.1023,
       14.3882, 71.0657, 51.9401, 80.925 , 48.4073, 39.0506, 66.9405,
       56.6823, 47.7383, 46.4292, 50.4958, 42.3838, 53.9187, 77.0283,
       45.3113, 67.6994, 39.0563, 65.5331, 26.3743, 67.625 , 53.8786,
       76.3294, 30.7803, 37.8286, 68.5429, 56.4106, 74.3552, 41.7206,
       66.3549, 67.6449, 48.5943, 37.6458, 74.5889, 47.4229, 54.5971,
       28.2851, 41.9743, 66.4219, 50.3464, 32.2967, 44.212 , 46.4413,
       70.1124, 59.9315, 53.6331, 29.5388, 67.3599, 33.262 , 28.7055,
       39.3447, 33.0947, 70.6115, 67.7889, 52.7314, 49.5445, 80.1628,
       33.3131, 84.3156, 50.8437, 44.1695, 20.1235, 29.5626, 46.168 ,
       49.2285, 57.0591, 57.4525, 44.9974, 80.6886, 26.3468, 41.9738,
       44.8678, 62.8463, 50.1171, 32.1987, 20.7363, 69.5739, 46.2741,
       67.5616, 41.3901, 51.9157, 40.6985, 22.712 , 51.9514, 44.6491,
       66.4954, 12.2789, 40.2217, 45.4483, 61.307 , 45.9825, 44.1573,
       42.8436, 74.0149, 51.6207, 43.2842, 64.6861, 38.5065, 62.294 ,
       66.8494, 47.5719, 56.4124, 42.5244, 35.6462, 48.9695, 56.9562,
       61.604 , 45.1791, 53.0858, 59.3673, 61.5054, 60.6511, 40.1809,
       44.3871, 38.8092, 79.3126, 45.9766, 64.8954, 63.2438, 80.7859,
       72.4803, 25.7727, 60.9107, 40.1953, 40.2315, 51.5125, 37.7339,
       31.2744, 53.8306, 44.1767, 44.0933, 69.1181, 56.2168, 24.8497,
       53.6159, 30.4306, 31.4725, 57.9306, 22.1937, 75.9282, 58.0359,
       65.4703, 47.8177, 71.4149, 52.9208, 41.4711, 40.9844, 76.3167,
       71.7503, 66.7264, 21.9205, 70.85  , 35.6484, 32.5116, 41.3448,
       38.8639])

In [25]:
# find mae
from sklearn.metrics import mean_absolute_error

rforest_mae = mean_absolute_error(y_test, predicted_values)
rforest_mae

0.0729642307692308

In [26]:
# find rmse
from sklearn.metrics import mean_squared_error
from math import sqrt

rforest_rmse = sqrt(mean_squared_error(y_test, predicted_values))
rforest_rmse

0.20398015071230632

---

---

### <span style="color:blue">SVM Linear</span>

In [27]:
from sklearn import svm

support_linear = svm.SVR(kernel= 'linear')
support_linear.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVR(kernel='linear')

---

In [28]:
predicted_values = support_linear.predict(X_test)
predicted_values

array([63.04042522, 53.44189891, 68.47385157, 70.05006296, 55.19529139,
       65.12031697, 43.23576422, 87.78988325, 69.437696  , 38.07055595,
       55.24206181, 72.31133378, 48.46351669, 59.76867007, 46.71855282,
       41.6568281 , 76.3426736 , 67.90227924, 59.16565894, 83.1014113 ,
       58.45669063, 67.57258056, 58.0046205 , 77.02212766, 69.0299747 ,
       57.99937941, 69.25799488, 50.65608392, 83.49451416, 47.86353806,
       53.92093954, 57.06604777, 68.38211547, 48.82751953, 62.96437823,
       62.09561664, 64.01735274, 65.31012111, 56.68549673, 58.48567574,
       57.80760074, 42.07486531, 60.5689382 , 35.92172034, 68.96302778,
       63.88755435, 63.31709416, 42.91242634, 74.35620429, 44.66540457,
       44.89389933, 28.10494872, 51.41230021, 79.28808747, 71.74491101,
       46.62792797, 46.6344557 , 75.44860415, 67.38307177, 39.85497903,
       31.9535339 , 55.70901101, 60.41073411, 56.16099734, 39.58243612,
       71.74699206, 43.93181008, 30.21583442, 50.5858241 , 18.12563198,
       85.74192332, 46.3129048 , 77.3688594 , 61.97467234, 40.20262597,
       67.30897909, 39.56443713, 58.00267764, 58.95212716, 68.03433697,
       57.05804533, 73.19944199, 71.53366575, 73.98118435, 69.17873966,
       61.52496141, 33.51612181, 44.69841499, 48.60749988, 70.88627544,
       30.1075283 , 49.60329624, 66.87926731, 58.84551608, 48.89635572,
       56.23715561, 68.28946488, 26.49411959, 65.52795408, 72.23360237,
       57.09612798, 69.38114644, 62.85138667, 53.03682773, 67.05410187,
       16.44955199, 71.06525065, 51.99682612, 80.77044268, 48.40068749,
       39.00738857, 66.8193953 , 56.63121927, 47.74525076, 46.50767913,
       50.54981707, 42.44008117, 53.97226822, 76.96412921, 45.3172137 ,
       67.65479819, 39.10854438, 65.50060371, 26.75786751, 67.55994501,
       53.84205615, 76.35513247, 30.93202054, 37.83011156, 68.48516541,
       56.35958835, 74.19596606, 41.74326478, 66.28367126, 67.60981852,
       48.62909316, 37.68931292, 74.56978049, 47.43706528, 54.60163957,
       28.37822511, 41.99027117, 66.34673894, 50.32722965, 32.34883926,
       44.29756508, 46.55899911, 70.00984724, 59.96073417, 53.50820686,
       29.8576549 , 67.30519416, 33.50112099, 28.44345989, 39.36085788,
       33.0636574 , 70.55581606, 67.80787151, 52.7201811 , 49.56803591,
       80.05142207, 33.53595536, 84.28623043, 50.8298744 , 44.18989511,
       19.92389251, 29.93342335, 46.18351221, 49.2090958 , 57.10527282,
       57.5297505 , 44.99394237, 80.62148102, 26.78339148, 41.98625563,
       44.83809094, 62.8307557 , 50.09390243, 32.17886727, 20.91473719,
       69.51464803, 46.2347096 , 67.50756509, 41.39651401, 51.93985819,
       40.70349897, 22.6791174 , 51.9875879 , 44.70508273, 66.48662273,
       11.69337711, 40.12655803, 45.46861108, 61.32032639, 46.01493101,
       44.26965987, 42.83327553, 74.02475653, 51.55283539, 43.28035921,
       64.64150648, 38.51526223, 62.28119036, 66.73469801, 47.51601829,
       56.40190707, 42.48884565, 35.88677457, 48.96461726, 56.92974444,
       61.54916126, 45.2181513 , 53.00020502, 59.35438655, 61.40481545,
       60.63646479, 40.12849949, 44.34994428, 38.80122905, 79.31841945,
       45.96264649, 64.8934051 , 63.22558063, 80.66109935, 72.30120076,
       25.8858559 , 60.84996252, 40.21928836, 40.0176911 , 51.48955146,
       37.78129029, 31.50529127, 53.76871637, 44.28083046, 44.10126582,
       69.01636597, 56.24604998, 24.68577482, 53.50815786, 30.25485663,
       31.68185551, 57.90409479, 22.24426445, 75.90772028, 58.03138926,
       65.4132392 , 47.88183499, 71.38636774, 52.92267822, 41.47888496,
       41.04562159, 76.17446413, 71.66437961, 66.66532342, 21.8895747 ,
       70.82585334, 35.94487858, 32.50586293, 41.33921307, 38.915883  ])

In [29]:
# find mae
from sklearn.metrics import mean_absolute_error

support_linear_mae = mean_absolute_error(y_test, predicted_values)
support_linear_mae

0.03276526382972508

In [30]:
# find rmse
from sklearn.metrics import mean_squared_error
from math import sqrt

support_linear_rmse = sqrt(mean_squared_error(y_test, predicted_values))
support_linear_rmse

0.04003558426934226

***

***

### <span style="color:blue">SVM RFB</span>

In [31]:
from sklearn import svm

support_RBF = svm.SVR(kernel= 'rbf')
support_RBF.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVR()

---

In [32]:
predicted_values = support_RBF.predict(X_test)
predicted_values

array([54.31959045, 54.24177038, 54.36038648, 54.37199246, 54.25744822,
       54.33782577, 54.1657829 , 54.50924555, 54.37056431, 54.12324519,
       54.25729407, 54.39214176, 54.20608831, 54.29492294, 54.19430553,
       54.15252461, 54.42321258, 54.35816061, 54.28862792, 54.47368008,
       54.28699409, 54.35617756, 54.27859439, 54.42900792, 54.36359239,
       54.28345192, 54.36862596, 54.22302555, 54.47890019, 54.20147134,
       54.24928118, 54.27407925, 54.36240437, 54.20725858, 54.31682531,
       54.31394723, 54.32713549, 54.33489006, 54.27058371, 54.2822878 ,
       54.27704362, 54.15575715, 54.30218994, 54.11268246, 54.3679852 ,
       54.32231408, 54.32120017, 54.16220729, 54.40465641, 54.17408252,
       54.17965944, 54.04754006, 54.22830409, 54.44700788, 54.38889447,
       54.18923208, 54.19527872, 54.41415398, 54.35090037, 54.13756215,
       54.0793555 , 54.26417196, 54.3015108 , 54.26492854, 54.13706943,
       54.3894468 , 54.17061162, 54.06542898, 54.22248481, 53.96956603,
       54.49674414, 54.18845103, 54.43058736, 54.31248006, 54.14239269,
       54.35250269, 54.14130968, 54.27692489, 54.28917389, 54.35644212,
       54.27128026, 54.39899736, 54.38615775, 54.40283932, 54.36856446,
       54.30463953, 54.09032215, 54.17979683, 54.20556975, 54.37844736,
       54.0618882 , 54.2170872 , 54.34807978, 54.28944065, 54.20836828,
       54.2676842 , 54.3600493 , 54.03676024, 54.33659093, 54.38883767,
       54.27103874, 54.37121089, 54.31812841, 54.23916618, 54.34780291,
       53.96047434, 54.37927568, 54.23443049, 54.45735602, 54.20890586,
       54.13373743, 54.34819361, 54.27292146, 54.20110546, 54.19483893,
       54.22384199, 54.15691516, 54.25022037, 54.42583557, 54.18456698,
       54.35791164, 54.13236313, 54.34130173, 54.03661485, 54.35060933,
       54.24541006, 54.4244131 , 54.07097473, 54.1257788 , 54.36429109,
       54.26915468, 54.40231244, 54.15208699, 54.34076947, 54.35481658,
       54.21010845, 54.1235836 , 54.41120098, 54.19602538, 54.25451474,
       54.05073295, 54.15729094, 54.34615544, 54.21992279, 54.08133221,
       54.17235671, 54.19195902, 54.37550181, 54.29749819, 54.24390285,
       54.0632302 , 54.35083112, 54.0918383 , 54.04960316, 54.13810115,
       54.08518499, 54.37917113, 54.35579865, 54.2389364 , 54.21733962,
       54.45125773, 54.09374618, 54.4817119 , 54.22161762, 54.17206095,
       53.98777966, 54.06272007, 54.19070664, 54.21569297, 54.26999194,
       54.2798446 , 54.17718599, 54.45563762, 54.03954542, 54.16001082,
       54.18087921, 54.3141453 , 54.21647617, 54.08002899, 53.99268233,
       54.36568358, 54.19220185, 54.35348304, 54.1510878 , 54.23507945,
       54.14353926, 54.00627695, 54.2343628 , 54.17932421, 54.34453541,
       53.92057778, 54.14020887, 54.18357687, 54.30906193, 54.18613496,
       54.17705988, 54.16159331, 54.40099675, 54.23264603, 54.16450098,
       54.33355638, 54.12996501, 54.31374075, 54.34916323, 54.19609154,
       54.26732195, 54.16169608, 54.10752467, 54.20834815, 54.27467247,
       54.30646015, 54.18492367, 54.24435742, 54.29280645, 54.30696536,
       54.29777957, 54.14076316, 54.17328957, 54.12997543, 54.44781237,
       54.18518631, 54.3366041 , 54.32320065, 54.45650512, 54.38824804,
       54.03262136, 54.30489489, 54.14144455, 54.14261335, 54.23162276,
       54.12539513, 54.07320822, 54.2470138 , 54.17330733, 54.17192181,
       54.3623884 , 54.26720135, 54.02610982, 54.24772538, 54.06574546,
       54.07673772, 54.28109457, 54.00402085, 54.42149597, 54.28040939,
       54.33733337, 54.20163242, 54.38611513, 54.24159594, 54.15607389,
       54.147844  , 54.42245335, 54.38444015, 54.34861835, 53.99965435,
       54.38181117, 54.1068606 , 54.08145168, 54.1517453 , 54.12978549])

In [33]:
# find mae
from sklearn.metrics import mean_absolute_error

support_RBF_mae = mean_absolute_error(y_test, predicted_values)
support_RBF_mae

12.763734776993918

In [34]:
# find rmse
from sklearn.metrics import mean_squared_error
from math import sqrt

support_RBF_rmse = sqrt(mean_squared_error(y_test, predicted_values))
support_RBF_rmse

15.307956959469331

***

***

In [35]:
data={'KNN(K_Nearest_Neighbour)'   :[knn_mae, knn_rmse],
      'LinearRegression'           :[reg_mae, reg_rmse],
        'Decesion Tree'            :[dtree_mae, dtree_rmse],
        'Random Forest'            :[rforest_mae, rforest_rmse],
            "SVM (Linear)"         :[support_linear_mae, support_linear_rmse],
               "SVM (RBF)"         :[support_RBF_mae, support_RBF_rmse]
}

In [36]:
Evaluation =pd.DataFrame(data, index=['SCORE'])
Evaluation

ValueError: Shape of passed values is (2, 6), indices imply (1, 6)