<a class="anchor" id="0.1"></a>
## Table of Content
1.	[Data Analysis](#1)
   - 1.1 [Missing Values](#1.1)
   - 1.2 [Numerical Features](#1.2)
        - 1.2.1 [Discrete Variable](#1.2.1)
        - 1.2.2 [Continous Variable](#1.2.2)
   - 1.3 [Categorical feature ](#1.3)
2.	[Feature Engineering](#2)
   - 2.1 [Encoding of categorical Features ](#2.1)
   - 2.2 [Feature Scaling ](#2.2)
   - 2.3 [Seprate the depedent and independent variable](#2.3)
3.	[Model Building](#3)
   - 3.1 [Train Test Split ](#3.1)
   - 3.2 [KNN(K_Nearest_Neighbour)](#3.2)
        - 4.2.1 [Implementation of Model ](#3.2.1)
        - 4.2.2 [Evaluataion of Model](#3.2.2)
   - 3.3 [Polynomial Regression ](#3.3)
        - 4.2.1 [Implementation of Model ](#3.3.1)
        - 4.2.2 [Evaluataion of Model](#3.3.2) 
   - 3.4 [Decesion Tree](#3.4)
        - 4.2.1 [Implementation of Model ](#3.4.1)
        - 4.2.2 [Evaluataion of Model](#3.4.2)
   - 3.5 [Random Forest](#3.5)
        - 4.2.1 [Implementation of Model ](#3.5.1)
        - 4.2.2 [Evaluataion of Model](#3.5.2)
   - 3.6 [Support Vector Machine (Linear) ](#3.6)
        - 4.3.1 [Implementation of Model ](#3.6.1)
        - 4.3.2 [Evaluataion of Model](#3.6.2)
   - 3.7 [Support Vector Machine (RBF) ](#3.7)
        - 4.3.1 [Implementation of Model ](#3.7.1)
        - 4.3.2 [Evaluataion of Model](#3.7.2)
   - 3.8 [Artificial Neural Network](#3.8)
        - 4.3.1 [Implementation of Model ](#3.8.1)
        - 4.3.2 [Evaluataion of Model](#3.8.2)
5.	[Predict Results Score](#4)

 ## **1: Data Analysis Phase** <a class="anchor" id="1"></a>

### Import Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_excel('Zain Hassan For Prediction.xlsx')
data.head()

,Company Name,Coding,Year,ESG Score,Return on Equity,Return on Asset,Earning Per Share,Price/Sales Per Share Ratio,Earning before Interest & Taxes,DIVIDEND YIELD
0,HOME DEPOT,1,2008,65.85,12.74,6.24,1.340,0.54,4.214,3.54
1,HOME DEPOT,1,2009,53.06,14.32,7.56,1.570,0.74,4.658,4.11
2,HOME DEPOT,1,2010,59.78,17.44,9.10,2.010,0.85,5.803,3.18
3,HOME DEPOT,1,2011,60.45,21.11,10.61,2.470,0.94,6.674,2.63
4,HOME DEPOT,1,2012,68.09,25.42,12.13,3.001,1.25,7.853,2.67

In [3]:
data.shape

(1300, 10)

 ### **Missing Values** <a class="anchor" id="1.2.1"></a>

In [4]:
for feature in data:
    if data[feature].isnull().sum()>1:
        print(feature,":", np.round(data[feature].isnull().mean(),4),'%')
    
else:
     print("There is no Null Values")

There is no Null Values

In [5]:
data.isnull().sum()

Company Name                       0
Coding                             0
Year                               0
ESG Score                          0
Return on Equity                   0
Return on Asset                    0
Earning Per Share                  0
Price/Sales Per Share Ratio        0
Earning before Interest & Taxes    0
DIVIDEND YIELD                     0
dtype: int64

 ### **Numerical Features** <a class="anchor" id="1.2"></a>

In [6]:
numerical_features = [feature for feature in data.columns if data[feature].dtypes != 'O']
print("The length of Numerical_values is :",len(numerical_features))
data[numerical_features].head()

The length of Numerical_values is : 9

,Coding,Year,ESG Score,Return on Equity,Return on Asset,Earning Per Share,Price/Sales Per Share Ratio,Earning before Interest & Taxes,DIVIDEND YIELD
0,1,2008,65.85,12.74,6.24,1.340,0.54,4.214,3.54
1,1,2009,53.06,14.32,7.56,1.570,0.74,4.658,4.11
2,1,2010,59.78,17.44,9.10,2.010,0.85,5.803,3.18
3,1,2011,60.45,21.11,10.61,2.470,0.94,6.674,2.63
4,1,2012,68.09,25.42,12.13,3.001,1.25,7.853,2.67

 #### **Discrete Variable** <a class="anchor" id="1.2.1"></a>

In [7]:
discrete_Feature = [feature for feature in numerical_features if len(data[feature].unique())<25]

print("The Discrete feature is :",len(discrete_Feature))
discrete_Feature

The Discrete feature is : 1

['Year']

 #### **Continous Variable** <a class="anchor" id="1.2.2"></a>

In [8]:
continous_Feature = [feature for feature in numerical_features if feature not in discrete_Feature ]

print("The Continous feature is :",len(continous_Feature))
continous_Feature

The Continous feature is : 8

['Coding',
 'ESG Score',
 'Return on Equity',
 'Return on Asset',
 'Earning Per Share',
 'Price/Sales Per Share Ratio',
 'Earning before Interest & Taxes',
 'DIVIDEND YIELD']

In [9]:
data[continous_Feature].head()

,Coding,ESG Score,Return on Equity,Return on Asset,Earning Per Share,Price/Sales Per Share Ratio,Earning before Interest & Taxes,DIVIDEND YIELD
0,1,65.85,12.74,6.24,1.340,0.54,4.214,3.54
1,1,53.06,14.32,7.56,1.570,0.74,4.658,4.11
2,1,59.78,17.44,9.10,2.010,0.85,5.803,3.18
3,1,60.45,21.11,10.61,2.470,0.94,6.674,2.63
4,1,68.09,25.42,12.13,3.001,1.25,7.853,2.67

  ### **Categorical feature** <a class="anchor" id="1.3"></a>

In [10]:
categorical_feature = [feature for feature in data.columns if data[feature].dtypes =="O"]
print(len(categorical_feature))
categorical_feature

1

['Company Name']

In [11]:
data[categorical_feature].head()

  Company Name
0   HOME DEPOT
1   HOME DEPOT
2   HOME DEPOT
3   HOME DEPOT
4   HOME DEPOT

 ## **Feature Engineering** <a class="anchor" id="2"></a>

 ### **Encoding of categorical Features** <a class="anchor" id="2.1"></a>

In [12]:
label_encoder = LabelEncoder()
one_hot_encoder = OneHotEncoder()

In [13]:
for feature in categorical_feature:
    print(data[feature].unique())
    data[feature]=label_encoder.fit_transform(data[feature])
    print(data[feature].unique())

['HOME DEPOT' 'WALMART' 'EXXON MOBIL' 'WALT DISNEY' 'COCA COLA' 'CHEVRON'
 'ABBOTT LABORATORIES' 'THERMO FISHER SCIENTIFIC' 'VERIZON COMMUNICATIONS'
 'DANAHER' 'AT&T ' 'LINDE ' 'NEXTERA ENERGY ' "LOWE'S COMPANIES "
 'UNION PACIFIC ' "UNITED PARCEL SER.'B'" 'MEDTRONIC' 'CVS HEALTH '
 'RAYTHEON TECHNOLOGIES' 'BOEING' 'GENERAL ELECTRIC ' 'CONOCOPHILLIPS'
 'TARGET' 'FORD MOTOR' '3M' 'GENERAL MOTORS' 'LOCKHEED MARTIN'
 'PARKER-HANNIFIN' 'STRYKER' 'TJX ' 'DUKE ENERGY' 'EDWARDS LIFESCIENCES'
 'ILLINOIS TOOL WORKS' 'SOUTHERN' 'BECTON DICKINSON' 'FEDEX'
 'NORFOLK SOUTHERN' 'DOMINION ENERGY' 'EATON' 'AIR PRDS.& CHEMS' 'ECOLAB'
 'NORTHROP GRUMMAN' 'BOSTON SCIENTIFIC' 'EDISON INTL.' 'EMERSON ELECTRIC'
 'EOG RES.' 'GENERAL DYNAMICS ' 'DOLLAR GENERAL'
 'ENTERPRISE PRDS.PTNS.LP.' 'SCHLUMBERGER' "AMPHENOL 'A' " 'NEWMONT'
 'PIONEER NTRL.RES.' 'TE CONNECTIVITY' 'AGILENT TECHS.' 'BAXTER INTL. '
 'GENERAL MILLS ' 'SEMPRA' 'SYSCO' 'D R HORTON' 'EVERSOURCE ENERGY '
 'KROGER' 'L3HARRIS TECHNOLOGIES ' 'MCKESSON' 'WILLIAMS' 'BEST BUY'
 'CONSOLIDATED EDISON ' 'INTL.FLAVORS & FRAG.' 'NUCOR' 'PUB.SER.ENTER.GP'
 'SM ENERGY ' 'SPX' 'WEC ENERGY GROUP ' 'AMERICAN WATER WORKS' 'BALL'
 'CORNING ' 'DEVON ENERGY' "LENNAR 'A'" 'OCCIDENTAL PTL' 'ONEOK '
 'ALBEMARLE ' 'CHURCH & DWIGHT CO. ' 'DOVER' 'GARMIN' 'HERSHEY'
 'HORMEL FOODS' 'MARTIN MRTA.MATS.' 'PPL' "TYSON FOODS 'A'"
 'VULCAN MATERIALS' 'AMEREN' "BROWN-FORMAN 'B'" 'DTE ENERGY ' 'ENTERGY'
 'FIRSTENERGY' 'HALLIBURTON' 'INTERNATIONAL PAPER'
 'MCCORMICK & COMPANY NV.' 'OMNICOM GROUP' 'PERKINELMER']
[51 96 40 97 18 16  1 89 94 24  8 59 67 61 92 93 65 22 79 13 46 19 87 43
  0 48 60 74 85 90 30 34 53 83 11 41 68 27 31  3 32 69 14 33 35 38 45 26
 37 80  7 66 76 88  2 10 47 81 86 23 39 56 57 64 99 12 20 55 70 78 82 84
 98  6  9 21 25 58 71 73  4 17 28 44 50 52 62 77 91 95  5 15 29 36 42 49
 54 63 72 75]

  ### **Feature Scaling** <a class="anchor" id="2.2"></a>

In [14]:
data.head()

,Company Name,Coding,Year,ESG Score,Return on Equity,Return on Asset,Earning Per Share,Price/Sales Per Share Ratio,Earning before Interest & Taxes,DIVIDEND YIELD
0,51,1,2008,65.85,12.74,6.24,1.340,0.54,4.214,3.54
1,51,1,2009,53.06,14.32,7.56,1.570,0.74,4.658,4.11
2,51,1,2010,59.78,17.44,9.10,2.010,0.85,5.803,3.18
3,51,1,2011,60.45,21.11,10.61,2.470,0.94,6.674,2.63
4,51,1,2012,68.09,25.42,12.13,3.001,1.25,7.853,2.67

In [15]:
feature_scale =[feature for feature in data.columns if feature not in ['Year','ESG Score ']]
scaler = MinMaxScaler()
data[feature_scale] = scaler.fit_transform(data[feature_scale])

In [16]:
data[feature_scale].head()

,Company Name,Coding,ESG Score,Return on Equity,Return on Asset,Earning Per Share,Price/Sales Per Share Ratio,Earning before Interest & Taxes,DIVIDEND YIELD
0,0.515152,0.0,0.732648,0.008042,0.600927,0.613446,0.038168,0.248056,0.200113
1,0.515152,0.0,0.589695,0.008153,0.620041,0.617318,0.053435,0.251298,0.232335
2,0.515152,0.0,0.664804,0.008374,0.642340,0.624726,0.061832,0.259656,0.179763
3,0.515152,0.0,0.672292,0.008633,0.664205,0.632471,0.068702,0.266014,0.148672
4,0.515152,0.0,0.757684,0.008937,0.686215,0.641412,0.092366,0.274620,0.150933

 ### **Seprate the depedent and independent variable** <a class="anchor" id="2.3"></a>

In [17]:
# Seprate the dependent and independent feature

# Dependent feature:
y= data[["ESG Score"]]

# for getting independent feature ,we need to drop Id and salePrice from dataset

#independent feature

X= data.drop(['Year','ESG Score'],axis=1)

 ## **Model Building** <a class="anchor" id="3"></a>

  ### **Train Test Split** <a class="anchor" id="3.1"></a>

In [18]:
#Spliting into training and testing dataset
X_train, X_test, y_train,y_test =  train_test_split(X,y,test_size=0.25,random_state=0)

  ### **KNN(K_Nearest_Neighbour)** <a class="anchor" id="3.2"></a>

#### **Implementation of Model** <a class="anchor" id=3.2.1"></a>

In [19]:
from sklearn.neighbors import KNeighborsRegressor

In [20]:
knn = KNeighborsRegressor()

In [21]:
knn.fit(X_train,y_train)

KNeighborsRegressor()

#### **Evaluataion of Model** <a class="anchor" id="3.2.2"></a>

######  Root Mean Square Error

In [22]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [23]:
predict_KNN = knn.predict(X_test)

In [24]:
meanSQ_KNN= np.round(mean_squared_error(y_test,predict_KNN),6)
root_MSE_KNN = np.round(np.sqrt(meanSQ_KNN),6)

In [25]:
print("Root_Mean_Square_Error KNN :{}".format(root_MSE_KNN))

Root_Mean_Square_Error KNN :0.126491

##### Absolute Mean Error

In [26]:
mean_ABE_KNN = np.round(mean_absolute_error(y_test,predict_KNN),6)

In [27]:
print("Absolute Mean Error KNN :{}".format(mean_ABE_KNN))

Absolute Mean Error KNN :0.097655

  ### **Polynomial Regression** <a class="anchor" id="3.3"></a>

#### **Implementation of Model** <a class="anchor" id="3.3.1"></a>

In [28]:
from sklearn.linear_model import LinearRegression
lin_Reg = LinearRegression()

In [29]:
lin_Reg.fit(X_train,y_train)

LinearRegression()

In [30]:
predict_Lin_Reg = knn.predict(X_test)

#### **Evaluataion of Model** <a class="anchor" id="3.3.2"></a>

##### Root Mean Square Error

In [31]:
meanSQ_LinReg= np.round(mean_squared_error(y_test,predict_Lin_Reg),6)
root_MSE_LinReg = np.round(np.sqrt(meanSQ_LinReg),6)

In [32]:
print("Root_Mean_Square_Error of Linear Regression :{}".format(root_MSE_LinReg))

Root_Mean_Square_Error of Linear Regression :0.126491

##### Absolute Mean Error

In [33]:
mean_ABE_LinReg = np.round(mean_absolute_error(y_test,predict_Lin_Reg),6)

In [34]:
print("Absolute Mean Error of Linear Regression:{}".format(mean_ABE_LinReg))

Absolute Mean Error of Linear Regression:0.097655

 ### **Decesion Tree** <a class="anchor" id="3.4"></a>

#### **Implementation of Model** <a class="anchor" id="3.4.1"></a>

In [35]:
from sklearn.tree import DecisionTreeRegressor
DTR = DecisionTreeRegressor()
DTR.fit(X_train,y_train)

DecisionTreeRegressor()

In [36]:
predict_DTR = DTR.predict(X_test)

#### **Evaluataion of Model** <a class="anchor" id="3.4.2"></a>

##### Root Mean Square Error

In [37]:
meanSQ_DTR= np.round(mean_squared_error(y_test,predict_DTR),6)
root_MSE_DTR = np.round(np.sqrt(meanSQ_DTR),6)

In [38]:
print("Root_Mean_Square_Error of Decision Tree :{}".format(root_MSE_DTR))

Root_Mean_Square_Error of Decision Tree :0.193489

##### Absolute Mean Error

In [39]:
mean_ABE_DTR = np.round(mean_absolute_error(y_test,predict_DTR),6)

In [40]:
print("Absolute Mean Error of Decision Tree:{}".format(mean_ABE_DTR))

Absolute Mean Error of Decision Tree:0.145799

 ### **Random Forest** <a class="anchor" id="3.5"></a>

#### **Implementation of Model** <a class="anchor" id="3.5.1"></a>

In [41]:
# Fitting Random Forest Regression to the dataset
# import the regressor
from sklearn.ensemble import RandomForestRegressor
 
 # create regressor object
RF = RandomForestRegressor(n_estimators =10, random_state = 0)
 
# fit the regressor with x and y data
RF.fit(X, y)

C:\Users\fahad\AppData\Local\Temp/ipykernel_12132/4123654528.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  RF.fit(X, y)

RandomForestRegressor(n_estimators=10, random_state=0)

In [42]:
predict_RF = RF.predict(X_test)

#### **Evaluataion of Model** <a class="anchor" id="3.5.2"></a>

##### Root Mean Square Error

In [43]:
meanSQ_RF= np.round(mean_squared_error(y_test,predict_RF),6)
root_MSE_RF = np.round(np.sqrt(meanSQ_RF),6)

In [44]:
print("Root_Mean_Square_Error of Random Forest :{}".format(root_MSE_RF))

Root_Mean_Square_Error of Random Forest :0.05592

##### Absolute Mean Error

In [45]:
mean_ABE_RF = np.round(mean_absolute_error(y_test,predict_RF),6)

In [46]:
print("Absolute Mean Error of Random Forest:{}".format(mean_ABE_RF))

Absolute Mean Error of Random Forest:0.039335

 ### **Support Vector Machine (Linear)** <a class="anchor" id="3.6"></a>

#### **Implementation of Model** <a class="anchor" id="3.6.1"></a>

In [47]:
from sklearn.svm import SVR
SVR_lin = SVR(kernel = 'linear')
SVR_lin.fit(X, y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVR(kernel='linear')

In [48]:
predict_SVR_lin = SVR_lin.predict(X_test)

#### **Evaluataion of Model** <a class="anchor" id="3.6.2"></a>

##### Root Mean Square Error

In [49]:
meanSQ_SVR_lin= np.round(mean_squared_error(y_test,predict_SVR_lin),6)
root_MSE_SVR_lin = np.round(np.sqrt(meanSQ_SVR_lin),6)

In [50]:
print("Root_Mean_Square_Error of Support Vector Machine (Linear)  :{}".format(root_MSE_SVR_lin))

Root_Mean_Square_Error of Support Vector Machine (Linear)  :0.164241

##### Absolute Mean Error

In [51]:
mean_ABE_SVR_lin = np.round(mean_absolute_error(y_test,predict_SVR_lin),6)

In [52]:
print("Absolute Mean Error of Support Vector Machine (Linear) :{}".format(mean_ABE_SVR_lin))

Absolute Mean Error of Support Vector Machine (Linear) :0.133916

 ### **Support Vector Machine (RBF)** <a class="anchor" id="3.7"></a>

#### **Implementation of Model** <a class="anchor" id="3.7.1"></a>

In [53]:
from sklearn.svm import SVR
SVR_rbf = SVR(kernel = 'rbf')
SVR_rbf.fit(X, y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVR()

In [54]:
predict_SVR_rbf = SVR_rbf.predict(X_test)

#### **Evaluataion of Model** <a class="anchor" id="3.7.2"></a>

##### Root Mean Square Error

In [55]:
meanSQ_SVR_rbf= np.round(mean_squared_error(y_test,predict_SVR_rbf),6)
root_MSE_SVR_rbf = np.round(np.sqrt(meanSQ_SVR_rbf),6)

In [56]:
print("Root_Mean_Square_Error of Support Vector Machine (RBF)  :{}".format(root_MSE_SVR_rbf))

Root_Mean_Square_Error of Support Vector Machine (RBF)  :0.145921

##### Absolute Mean Error

In [57]:
mean_ABE_SVR_rbf = np.round(mean_absolute_error(y_test,predict_SVR_rbf),6)

In [58]:
print("Absolute Mean Error of Support Vector Machine (RBF) :{}".format(mean_ABE_SVR_rbf))

Absolute Mean Error of Support Vector Machine (RBF) :0.117271

 ### **Artifical Neural Network** <a class="anchor" id="3.8"></a>

#### **Implementation of Model** <a class="anchor" id="3.8.1"></a>

In [59]:
from sklearn.neural_network import MLPRegressor

In [60]:
mlp = MLPRegressor(hidden_layer_sizes=(10,10,), activation="logistic", max_iter=10)

In [61]:
mlp.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (10) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPRegressor(activation='logistic', hidden_layer_sizes=(10, 10), max_iter=10)

In [62]:
predict_mlp = mlp.predict(X_test)

#### **Evaluataion of Model** <a class="anchor" id="3.8.2"></a>

##### Root Mean Square Error

In [63]:
meanSQ_mlp= np.round(mean_squared_error(y_test,predict_mlp),6)
root_MSE_mlp = np.round(np.sqrt(meanSQ_mlp),6)

In [64]:
print("Root_Mean_Square_Error of Artifical Neural Network  :{}".format(root_MSE_mlp))

Root_Mean_Square_Error of Artifical Neural Network  :0.537939

##### Absolute Mean Error

In [65]:
mean_ABE_mlp = np.round(mean_absolute_error(y_test,predict_mlp),6)

In [66]:
print("Absolute Mean Error of Artificial Neural Network :{}".format(mean_ABE_mlp))

Absolute Mean Error of Artificial Neural Network :0.509318

### **Predict Results Score** <a class="anchor" id="4"></a>

####  Compare the Results of Models

In [67]:
data={'KNN(K_Nearest_Neighbour)'   :[meanSQ_KNN,mean_ABE_KNN,root_MSE_KNN],
      'LinearRegression'           :[meanSQ_LinReg,mean_ABE_LinReg ,root_MSE_LinReg],
        'Decesion Tree'            :[meanSQ_DTR,mean_ABE_DTR ,root_MSE_DTR],
        'Random Forest'            :[meanSQ_RF,mean_ABE_RF ,root_MSE_RF],
            "SVM (Linear)"         :[meanSQ_SVR_lin,mean_ABE_SVR_lin,root_MSE_SVR_lin],
               "SVM (RBF)"         :[meanSQ_SVR_rbf,mean_ABE_SVR_rbf,root_MSE_SVR_rbf],
     "Artifical Neural Network"    :[meanSQ_mlp,mean_ABE_mlp,root_MSE_mlp]
  
}

In [68]:
Evaluation =pd.DataFrame(data,index=['Mean_Square_Error','Mean_Absolute_Error','Root_Mean_Square_Error'])

In [69]:
Evaluation

,KNN(K_Nearest_Neighbour),LinearRegression,Decesion Tree,Random Forest,SVM (Linear),SVM (RBF),Artifical Neural Network
Mean_Square_Error,0.016000,0.016000,0.037438,0.003127,0.026975,0.021293,0.289378
Mean_Absolute_Error,0.097655,0.097655,0.145799,0.039335,0.133916,0.117271,0.509318
Root_Mean_Square_Error,0.126491,0.126491,0.193489,0.055920,0.164241,0.145921,0.537939