## <span style="color:orange">Multiple_Linear_Regression</span>

### <span style="color:purple">**Dataset: Salary_Prediction**</span>

---

### <span style="color:cyan">Step: 01</span>: (Import Dataset)

In [12]:
# import Dataset !
import pandas as pd

df = pd.read_csv("ml_data_salary.csv")
df.head()

    age  distance  YearsExperience  Salary
0  31.1     77.75              1.1   39343
1  31.3     78.25              1.3   46205
2  31.5     78.75              1.5   37731
3  32.0     80.00              2.0   43525
4  32.2     80.50              2.2   39891

### <span style="color:cyan">Step: 02</span>: Data Normalization

In [69]:
features = df[['age', 'distance', 'YearsExperience']]
features.head()

    age  distance  YearsExperience
0  31.1     77.75              1.1
1  31.3     78.25              1.3
2  31.5     78.75              1.5
3  32.0     80.00              2.0
4  32.2     80.50              2.2

In [70]:
# features['age'] = features['age']/features['age'].max()
# features['distance'] = features['distance']/features['distance'].max()
# features['YearsExperience'] = features['YearsExperience']/features['YearsExperience'].max()

# features.head()

In [71]:
# # Data transformation
# from sklearn.preprocessing import MinMaxScaler

# scaler = MinMaxScaler()
# features = scaler.fit_transform(features)
# features

### <span style="color:cyan">Step: 03</span>: Splitting Dataset into (Training and Testing) Data

In [72]:
X = features
y = df[['Salary']]

In [86]:
X.head()

    age  distance  YearsExperience
0  31.1     77.75              1.1
1  31.3     78.25              1.3
2  31.5     78.75              1.5
3  32.0     80.00              2.0
4  32.2     80.50              2.2

In [74]:
y.head()

   Salary
0   39343
1   46205
2   37731
3   43525
4   39891

In [75]:
# import library for splitting !
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

### <span style="color:cyan">Step: 04</span>: Fit Linear-Regression Model

In [85]:
# import model !
from sklearn.linear_model import LinearRegression

model = LinearRegression().fit(X_train, y_train)
model

LinearRegression()

In [77]:
model.coef_

array([[-1.24318092e+16, -2.60535815e+14,  1.30831487e+16]])

In [80]:
model.intercept_

array([3.92494461e+17])

### <span style="color:cyan">Step: 05</span>: Plotting

In [81]:
# # import libraries !
# import matplotlib.pyplot as plt
# import seaborn as sns

In [82]:
# sns.set_theme(style="whitegrid", color_codes=True)
# plt.scatter(X_train, y_train)
# # plt.plot(X_train, model.predict(X_train), color="red")
# plt.title('Training Data')
# plt.xlabel('Year')
# plt.ylabel('Salary')

### <span style="color:cyan">Step: 06</span>: Evaluate or Test Model Accuracy

In [83]:
# model.score(X_train, y_train)
model.score(X_train, y_train)*100

94.09532368371481

### <span style="color:cyan">Step: 07</span>: Prediction of Un-known values

In [84]:
model.predict([[31.1, 77.75, 1.1]])

C:\Users\fahad\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[36864.]])

***

***