## <span style="color:orange"> K-Nearest_Neighbors </span>

### <span style="color:purple">**Dataset: Chilla Dataset !**</span>

### <span style="color:cyan">Step: 01</span>: (Import Dataset)

In [4]:
# import Dataset !
import pandas as pd

df = pd.read_csv('chillamldata.csv')
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [5]:
df['gender'] = df['gender'].replace('Male', 1)
df['gender'] = df['gender'].replace('Female', 0)

In [6]:
X = df.drop('likeness', axis=1)
y = df.likeness

In [7]:
X.head(2)

   age   height  weight  gender
0   27  170.688    76.0       1
1   41  165.000    70.0       1

In [8]:
y.head(2)

0    Biryani
1    Biryani
Name: likeness, dtype: object

### <span style="color:cyan">Step: 02</span>: Data Cleaned or Organize

In [9]:
df.isnull().sum()

age         0
height      0
weight      0
gender      0
likeness    0
dtype: int64

### <span style="color:cyan">Step: 03</span>: Splitting Dataset into (Training and Testing) Data

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

### <span style="color:cyan">Step: 04</span>: Fit K-Nearest_Neighbor Model

In [21]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=5).fit(X_train, y_train)
model

KNeighborsClassifier()

### <span style="color:cyan">Step: 05</span>: Evaluate or Test Model Accuracy

In [22]:
predicted_values = model.predict(X_test)
predicted_values

from sklearn.metrics import accuracy_score

score = accuracy_score(y_test, predicted_values)*100
print("K-NN. (r2.score):", score)

K-NN. (r2.score): 57.14285714285714

### <span style="color:cyan">Step: 06</span>: Prediction of Un-known values

In [19]:
model.predict(X_test)

array(['Biryani', 'Samosa', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Biryani',
       'Samosa', 'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani'], dtype=object)

***

***