## <span style="color:orange">Decision_Tree_Classifier</span>

### <span style="color:purple">**Dataset: Food_Prediction**</span>

***

### <span style="color:cyan">Step: 0</span>: All in one. (Chilla-Dataset)

In [1]:
# import Dataset !
import pandas as pd

df = pd.read_csv("chillamldata.csv")
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [2]:
df['gender'] = df['gender'].replace('Male', 1)
df['gender'] = df['gender'].replace('Female', 0)
df.head()

   age   height  weight  gender likeness
0   27  170.688    76.0       1  Biryani
1   41  165.000    70.0       1  Biryani
2   29  171.000    80.0       1  Biryani
3   27  173.000   102.0       1  Biryani
4   29  164.000    67.0       1  Biryani

In [3]:
# selection of input & output variables !

X = df[['weight', 'gender']]
y = df['likeness']

In [4]:
X.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [10]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [11]:
# machine learning algo !
from sklearn.tree import DecisionTreeClassifier

# create & fit our model !
model = DecisionTreeClassifier().fit(X,y)

# prediction
model.predict([['23', '1']])

array(['Biryani'], dtype=object)

In [12]:
# how to meaure the accuracy of our model
## split data into train & test (80/20)

# import librarie for splitting !
from sklearn.model_selection import train_test_split 
X_train, y_train, X_test, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

# create model !
model = DecisionTreeClassifier()

# fit model !
model.fit(X_train, y_train)

# test models !
pred_values = model.predict(X_test)
pred_values

# # import librarie for score !
# from sklearn.metrics import accuracy_score

ValueError: Unknown label type: 'continuous-multioutput'

### <span style="color:cyan">Step: 01</span>: (Import Dataset)

In [ ]:
# # import Dataset !
# import pandas as pd

# df = pd.read_csv("chillamldata.csv")
# df.head()

### <span style="color:cyan">Step: 02</span>: Data Already Cleaned or Organize

### <span style="color:cyan">Step: 03</span>: Splitting Dataset into (Training and Testing) Data