### <span style="color:cyan">Step: 0</span>: All in one. (Chilla-Dataset)... Practice

In [1]:
# import Dataset !
import pandas as pd

df = pd.read_csv("chillamldata.csv")
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [2]:
df['gender'] = df['gender'].replace('Male', 1)
df['gender'] = df['gender'].replace('Female', 0)

In [3]:
# selection of input & output variables !

X = df[['weight', 'gender']]
y = df[['likeness']]

In [4]:
X.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [5]:
y.head()

  likeness
0  Biryani
1  Biryani
2  Biryani
3  Biryani
4  Biryani

In [6]:
# machine learning algo !
from sklearn.tree import DecisionTreeClassifier

# create & fit our model !
model = DecisionTreeClassifier().fit(X,y)

# prediction
model.predict([['23', '1']])

C:\Users\fahad\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [7]:
# check accuracy !
model.score(X, y)*100

76.32653061224491

In [8]:
# how to meaure the accuracy of our model
## split data into train & test (80/20)

# import library for splitting !
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# create model !
model = DecisionTreeClassifier()

# fit model !
model.fit(X_train, y_train)

# test models !
predicted_values = model.predict(X_test)
predicted_values

array(['Biryani', 'Biryani', 'Pakora', 'Biryani', 'Samosa', 'Biryani',
       'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Samosa',
       'Samosa', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani'], dtype=object)

In [9]:
# import library for score !
from sklearn.metrics import accuracy_score

score = accuracy_score(y_test, predicted_values)*100
score

61.224489795918366

***

***